.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
header{
  margin-bottom: 1%;
}
header button{
  margin: 10px;
}
main{
  display: flex;
  flex-wrap: wrap;
}
/* .card, .marked {
  border-radius: 4px;
  border-width: 2px; 
  border-style: solid;
  box-shadow: 10px 5px lightgray;
} */

.card {
  /*border: black 1px solid;*/
  border-radius: 4px;
  border-width: 2px; 
  border-style: solid;
  box-shadow: 10px 5px lightgray;
  
  width: 25%;
  height: 40%;
  margin: 10px 5px 10px 50px;
  transition: all ease-in-out 1s;
  cursor:pointer;
}
@media screen and (max-width: 900px) {
  main{
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 90%;
    margin: 1px;
  }
}
.card img {
  height: 130px;
}
@keyframes bounce {
  0%{transform: translateY(0px);}
  50%{transform: translateY(2px);}
  100%{transform: translateY(-15px);}
}
.card.marked {
   border-color: crimson;
   background-color: mintcream;
   animation: bounce;
   animation-duration: 1s;
   transform: translateY(-14px)
 }